In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil import parser
import requests
import json

%matplotlib inline

# Data setup

## Fetch data

In [2]:
# dataset = '12-months-before-after-2021-12-13'
# dataset = '12-months-before-after-2021-12-14'
dataset = '24-before-24-after-2021-12-14'
# dataset = 'before-after-2021-11-15'

In [3]:
url = 'http://host.docker.internal:4000/analytics/dataset/' + dataset

In [4]:
response = requests.get(url).text

In [5]:
data = json.loads(response)

In [6]:
data['rows'][0]

{'_id': '61b8abbf16e6ee0074e30714',
 'id': '5ee39a5f5e886e000876182a',
 'gender': None,
 'ageRange': None,
 'occupation': None,
 'compareDate': '2020-03-12',
 'stepsEstimate': None,
 'rows': [{'hour': '10', 'value': 204.9090909090909, 'series': '2020-01-16'},
  {'hour': '11', 'value': 95.18181818181819, 'series': '2020-01-16'},
  {'hour': '12', 'value': 361.90909090909093, 'series': '2020-01-16'},
  {'hour': '13', 'value': 320.90909090909093, 'series': '2020-01-16'},
  {'hour': '14', 'value': 124.27272727272727, 'series': '2020-01-16'},
  {'hour': '15', 'value': 128.6818181818182, 'series': '2020-01-16'},
  {'hour': '16', 'value': 46.18181818181818, 'series': '2020-01-16'},
  {'hour': '17', 'value': 191.1818181818182, 'series': '2020-01-16'},
  {'hour': '18', 'value': 230.36363636363637, 'series': '2020-01-16'},
  {'hour': '19', 'value': 283.90909090909093, 'series': '2020-01-16'},
  {'hour': '20', 'value': 35.54545454545455, 'series': '2020-01-16'},
  {'hour': '21', 'value': 15.5, 'series': '2020-01-16'},
  {'hour': '22', 'value': 31, 'series': '2020-01-16'},
  {'hour': '23', 'value': 3.8181818181818183, 'series': '2020-01-16'},
  {'hour': '00', 'value': 3.9545454545454546, 'series': '2020-01-16'},
  {'hour': '01', 'value': 1.8181818181818181, 'series': '2020-01-16'},
  {'hour': '02', 'value': 0, 'series': '2020-01-16'},
  {'hour': '03', 'value': 0, 'series': '2020-01-16'},
  {'hour': '04', 'value': 0, 'series': '2020-01-16'},
  {'hour': '05', 'value': 0, 'series': '2020-01-16'},
  {'hour': '06', 'value': 0, 'series': '2020-01-16'},
  {'hour': '07', 'value': 0, 'series': '2020-01-16'},
  {'hour': '08', 'value': 19.545454545454547, 'series': '2020-01-16'},
  {'hour': '09', 'value': 230.95454545454547, 'series': '2020-01-16'},
  {'hour': '10', 'value': 54.65, 'series': '2020-02-16'},
  {'hour': '11', 'value': 152.95, 'series': '2020-02-16'},
  {'hour': '12', 'value': 367.75, 'series': '2020-02-16'},
  {'hour': '13', 'value': 395.7, 'series': '2020-02-16'},
  {'hour': '14', 'value': 263.45, 'series': '2020-02-16'},
  {'hour': '15', 'value': 257.3, 'series': '2020-02-16'},
  {'hour': '16', 'value': 305.75, 'series': '2020-02-16'},
  {'hour': '17', 'value': 314.7, 'series': '2020-02-16'},
  {'hour': '18', 'value': 502.65, 'series': '2020-02-16'},
  {'hour': '19', 'value': 332.1, 'series': '2020-02-16'},
  {'hour': '20', 'value': 141.75, 'series': '2020-02-16'},
  {'hour': '21', 'value': 294.05, 'series': '2020-02-16'},
  {'hour': '22', 'value': 189.25, 'series': '2020-02-16'},
  {'hour': '23', 'value': 426.7, 'series': '2020-02-16'},
  {'hour': '00', 'value': 247.85, 'series': '2020-02-16'},
  {'hour': '01', 'value': 28.25, 'series': '2020-02-16'},
  {'hour': '02', 'value': 16.65, 'series': '2020-02-16'},
  {'hour': '03', 'value': 96.6, 'series': '2020-02-16'},
  {'hour': '04', 'value': 71.4, 'series': '2020-02-16'},
  {'hour': '05', 'value': 1.25, 'series': '2020-02-16'},
  {'hour': '06', 'value': 1.9, 'series': '2020-02-16'},
  {'hour': '07', 'value': 45.65, 'series': '2020-02-16'},
  {'hour': '08', 'value': 111.2, 'series': '2020-02-16'},
  {'hour': '09', 'value': 162.6, 'series': '2020-02-16'},
  {'hour': '10', 'value': 48.95238095238095, 'series': '2020-03-16'},
  {'hour': '11', 'value': 49.23809523809524, 'series': '2020-03-16'},
  {'hour': '12', 'value': 9.428571428571429, 'series': '2020-03-16'},
  {'hour': '13', 'value': 0, 'series': '2020-03-16'},
  {'hour': '14', 'value': 256.23809523809524, 'series': '2020-03-16'},
  {'hour': '15', 'value': 212.38095238095238, 'series': '2020-03-16'},
  {'hour': '16', 'value': 487.95238095238096, 'series': '2020-03-16'},
  {'hour': '17', 'value': 254.23809523809524, 'series': '2020-03-16'},
  {'hour': '18', 'value': 2.1904761904761907, 'series': '2020-03-16'},
  {'hour': '19', 'value': 55.523809523809526, 'series': '2020-03-16'},
  {'hour': '20', 'value': 55.57142857142857, 'series': '2020-03-16'},
  {'hour': '21', 'value': 16.714285714285715, 'series': '2020-03-16'},
  {'hour': '22', 'value': 1.619047619047619, 'series': '2020-03-16'},
  {'hour': '23', 'value': 2.7142857142857144, 'series': '2020-03-16'},
  {'hour': '00', 'value': 4.904761904761905, 'series': '2020-03-16'},
  {'hour': '01', 'value': 0, 'series': '2020-03-16'},
  {'hour': '02', 'value': 0, 'series': '2020-03-16'},
  {'hour': '03', 'value': 0, 'series': '2020-03-16'},
  {'hour': '04', 'value': 0, 'series': '2020-03-16'},
  {'hour': '05', 'value': 0, 'series': '2020-03-16'},
  {'hour': '06', 'value': 0, 'series': '2020-03-16'},
  {'hour': '07', 'value': 0.7619047619047619, 'series': '2020-03-16'},
  {'hour': '08', 'value': 2.238095238095238, 'series': '2020-03-16'},
  {'hour': '09', 'value': 51, 'series': '2020-03-16'},
  {'hour': '10', 'value': 10.523809523809524, 'series': '2020-04-16'},
  {'hour': '11', 'value': 14, 'series': '2020-04-16'},
  {'hour': '12', 'value': 155, 'series': '2020-04-16'},
  {'hour': '13', 'value': 106, 'series': '2020-04-16'},
  {'hour': '14', 'value': 85.33333333333333, 'series': '2020-04-16'},
  {'hour': '15', 'value': 17.047619047619047, 'series': '2020-04-16'},
  {'hour': '16', 'value': 121.85714285714286, 'series': '2020-04-16'},
  {'hour': '17', 'value': 311, 'series': '2020-04-16'},
  {'hour': '18', 'value': 144.1904761904762, 'series': '2020-04-16'},
  {'hour': '19', 'value': 17, 'series': '2020-04-16'},
  {'hour': '20', 'value': 128.42857142857142, 'series': '2020-04-16'},
  {'hour': '21', 'value': 4, 'series': '2020-04-16'},
  {'hour': '22', 'value': 5.428571428571429, 'series': '2020-04-16'},
  {'hour': '23', 'value': 2.9047619047619047, 'series': '2020-04-16'},
  {'hour': '00', 'value': 2.9047619047619047, 'series': '2020-04-16'},
  {'hour': '01', 'value': 1.3333333333333333, 'series': '2020-04-16'},
  {'hour': '02', 'value': 1, 'series': '2020-04-16'},
  {'hour': '03', 'value': 0, 'series': '2020-04-16'},
  {'hour': '04', 'value': 0, 'series': '2020-04-16'},
  {'hour': '05', 'value': 0, 'series': '2020-04-16'},
  {'hour': '06', 'value': 0, 'series': '2020-04-16'},
  {'hour': '07', 'value': 2.8095238095238093, 'series': '2020-04-16'},
  {'hour': '08', 'value': 8.714285714285714, 'series': '2020-04-16'},
  {'hour': '09', 'value': 13.476190476190476, 'series': '2020-04-16'},
  {'hour': '10', 'value': 4.695652173913044, 'series': '2020-05-16'},
  {'hour': '11', 'value': 8, 'series': '2020-05-16'},
  {'hour': '12', 'value': 122.65217391304348, 'series': '2020-05-16'},
  {'hour': '13', 'value': 1.0434782608695652, 'series': '2020-05-16'},
  {'hour': '14', 'value': 74.8695652173913, 'series': '2020-05-16'},
  {'hour': '15', 'value': 296.04347826086956, 'series': '2020-05-16'},
  {'hour': '16', 'value': 258.4347826086956, 'series': '2020-05-16'},
  {'hour': '17', 'value': 485.04347826086956, 'series': '2020-05-16'},
  {'hour': '18', 'value': 274.17391304347825, 'series': '2020-05-16'},
  {'hour': '19', 'value': 251.34782608695653, 'series': '2020-05-16'},
  {'hour': '20', 'value': 72.6086956521739, 'series': '2020-05-16'},
  {'hour': '21', 'value': 7.086956521739131, 'series': '2020-05-16'},
  {'hour': '22', 'value': 0.6086956521739131, 'series': '2020-05-16'},
  {'hour': '23', 'value': 3.260869565217391, 'series': '2020-05-16'},
  {'hour': '00', 'value': 2.869565217391304, 'series': '2020-05-16'},
  {'hour': '01', 'value': 1.4782608695652173, 'series': '2020-05-16'},
  {'hour': '02', 'value': 0, 'series': '2020-05-16'},
  {'hour': '03', 'value': 0, 'series': '2020-05-16'},
  {'hour': '04', 'value': 0, 'series': '2020-05-16'},
  {'hour': '05', 'value': 0, 'series': '2020-05-16'},
  {'hour': '06', 'value': 0, 'series': '2020-05-16'},
  {'hour': '07', 'value': 0, 'series': '2020-05-16'},
  {'hour': '08', 'value': 2.0434782608695654, 'series': '2020-05-16'},
  {'hour': '09', 'value': 50.91304347826087, 'series': '2020-05-16'}]}

## Format data

In [7]:
rows = []
for row in data['rows']:
    user = [row['id'], row['gender'], row['ageRange'], row['occupation'], parser.parse(row['compareDate']), row['stepsEstimate']]
    for hour in row['rows']:
        rows.append(user + [hour['series'], hour['hour'], hour['value']])

df = pd.DataFrame(rows, columns=['id', 'gender', 'ageRange', 'occupation', 'compareDate', 'stepsEstimate', 'series', 'hour', 'steps'])

In [8]:
df

,id,gender,ageRange,occupation,compareDate,stepsEstimate,series,hour,steps
0,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,10,204.909091
1,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,11,95.181818
2,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,12,361.909091
3,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,13,320.909091
4,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,14,124.272727
...,...,...,...,...,...,...,...,...,...
697651,6145aa62ce52ca000820f270,Female,55-64,Professor,2020-03-16,0.2,2021-08-16,05,33.110606
697652,6145aa62ce52ca000820f270,Female,55-64,Professor,2020-03-16,0.2,2021-08-16,06,1369.901328
697653,6145aa62ce52ca000820f270,Female,55-64,Professor,2020-03-16,0.2,2021-08-16,07,6138.971113
697654,6145aa62ce52ca000820f270,Female,55-64,Professor,2020-03-16,0.2,2021-08-16,08,1554.556516
697655,6145aa62ce52ca000820f270,Female,55-64,Professor,2020-03-16,0.2,2021-08-16,09,448.504013

In [9]:
df.head()

,id,gender,ageRange,occupation,compareDate,stepsEstimate,series,hour,steps
0,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,10,204.909091
1,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,11,95.181818
2,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,12,361.909091
3,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,13,320.909091
4,5ee39a5f5e886e000876182a,None,None,None,2020-03-12,NaN,2020-01-16,14,124.272727

In [10]:
df.shape

(697656, 9)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697656 entries, 0 to 697655
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             697656 non-null  object
 1   gender         652368 non-null  object
 2   ageRange       603456 non-null  object
 3   occupation     356400 non-null  object
 4   compareDate    697656 non-null  datetime64[ns]
 5   stepsEstimate  686592 non-null  float64
 6   series         697656 non-null  object
 7   hour           697656 non-null  object
 8   steps          697656 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 47.9+ MB

In [12]:
df.describe()

       stepsEstimate          steps
count  686592.000000  697656.000000
mean       -0.130203     302.752277
std         0.351542     448.137049
min        -1.000000       0.000000
25%        -0.350000       7.285815
50%        -0.100000     154.152830
75%         0.000000     432.434645
max         2.000000   52346.285714

In [13]:
%store df

Stored 'df' (DataFrame)