In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil import parser
import requests
import json
from ipywidgets import widgets 

pd.options.plotting.backend = "plotly"

%matplotlib inline
%run global.ipynb

# Data setup

## Fetch data

In [15]:
import os

with open(os.path.join(os.getcwd(), 'data/dataset-2-2-day-2023-03-07'), 'r') as f:
    day_data = json.load(f)

week_data = []
datasets = ['data/dataset-2-2-week-2023-03-07-1', 'data/dataset-2-2-week-2023-03-07-2', 'data/dataset-2-2-week-2023-03-07-3']
for dataset in datasets:
    with open(os.path.join(os.getcwd(), dataset), 'r') as f:
        tmp_data = json.load(f)
        week_data.extend(tmp_data)

FileNotFoundError: [Errno 2] No such file or directory: '/home/jovyan/work/data/dataset-2-2-day-2023-03-07'

In [17]:
import os

with open(os.path.join(os.getcwd(), 'data/steps_with_est.json'), 'r') as f:
    estimates_data = json.load(f)

estimates_df = estimates_data_to_df(estimates_data)

estimates_df

,date,steps,userId,gender,ageRange,created,stepsEstimate
0,2017-09-18,2421.0,5f772fc063993d0008607bb4,male,25-34,2020-10-02 13:48:48.153000+00:00,0.25
1,2017-09-19,5718.0,5f772fc063993d0008607bb4,male,25-34,2020-10-02 13:48:48.153000+00:00,0.25
2,2017-09-20,4542.0,5f772fc063993d0008607bb4,male,25-34,2020-10-02 13:48:48.153000+00:00,0.25
3,2017-09-21,6021.0,5f772fc063993d0008607bb4,male,25-34,2020-10-02 13:48:48.153000+00:00,0.25
4,2017-09-22,2970.0,5f772fc063993d0008607bb4,male,25-34,2020-10-02 13:48:48.153000+00:00,0.25
...,...,...,...,...,...,...,...
1361803,2023-05-22,165.0,64784cba2562860008d7f574,female,45-54,2023-06-01 07:46:02.263000+00:00,0.00
1361804,2023-05-25,18.0,64784cba2562860008d7f574,female,45-54,2023-06-01 07:46:02.263000+00:00,0.00
1361805,2023-05-26,4687.0,64784cba2562860008d7f574,female,45-54,2023-06-01 07:46:02.263000+00:00,0.00
1361806,2023-05-29,2481.0,64784cba2562860008d7f574,female,45-54,2023-06-01 07:46:02.263000+00:00,0.00
1361807,2023-05-30,10061.0,64784cba2562860008d7f574,female,45-54,2023-06-01 07:46:02.263000+00:00,0.00

In [ ]:
weekdata = data_to_df(week_data)
week_df = weekdata[0]
week_users_df = weekdata[1]

In [ ]:
daydata = data_to_df(day_data)
day_df = daydata[0]
day_users_df = daydata[1]

In [ ]:
%store week_df
%store week_users_df

In [18]:
#%store day_df
# %store day_users_df
%store estimates_df

Stored 'estimates_df' (DataFrame)

## Covid cases

In [ ]:
# From Folkhälsomyndigheten, weekly cases nationwide summed up for each month https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/statistik-och-analyser/bekraftade-fall-i-sverige/

data = json.loads("""[
    { "date": "2019-03-15", "value": 0 },
    { "date": "2019-04-15", "value": 0 },
    { "date": "2019-05-15", "value": 0 },
    { "date": "2019-06-15", "value": 0 },
    { "date": "2019-07-15", "value": 0 },
    { "date": "2019-08-15", "value": 0 },
    { "date": "2019-09-15", "value": 0 },
    { "date": "2019-10-15", "value": 0 },
    { "date": "2019-11-15", "value": 0 },
    { "date": "2019-12-15", "value": 0 },
    { "date": "2020-01-15", "value": 0 },
    { "date": "2020-02-15", "value": 14 },
    { "date": "2020-03-15", "value": 7159 },
    { "date": "2020-04-15", "value": 15527 },
    { "date": "2020-05-15", "value": 15961 },
    { "date": "2020-06-15", "value": 31951 },
    { "date": "2020-07-15", "value": 6673 },
    { "date": "2020-08-15", "value": 8285 },
    { "date": "2020-09-15", "value": 10233 },
    { "date": "2020-10-15", "value": 37527 },
    { "date": "2020-11-15", "value": 161065 },
    { "date": "2020-12-15", "value": 207718 },
    { "date": "2021-01-15", "value": 92437 },
    { "date": "2021-02-15", "value": 99336 }
  ]""")
rows = []
for row in data:
    rows.append([parser.parse(row['date']), row['value']])

covid_cases = pd.DataFrame(rows, columns=['date', 'cases'])

%store covid_cases

In [ ]:
day_df

In [ ]:
# Create simplified users df from day_df