In [11]:
import pandas as pd
import numpy as np
import plotly.io as pio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import ipywidgets as widgets
import matplotlib.pyplot as plt

pio.templates.default = "seaborn"
pd.options.plotting.backend = "plotly"

%matplotlib inline

In [12]:
%store -r day_df
%store -r day_users_df

In [13]:
%run global.ipynb

In [14]:
users_df = day_users_df
df = day_df
df = day_df[day_df['gender'].notnull()]

In [15]:
total_users = users_df[users_df['gender'].notnull()]['id'].count()
total_users

1534

In [16]:
df

,id,gender,ageRange,occupation,compareDate,stepsEstimate,series,hour,steps,work_age,period
2784,5f58c282446b8f00082e47ea,Male,25-34,None,2020-03-16,0.25,2020-01-16,10,85.161290,True,Before
2785,5f58c282446b8f00082e47ea,Male,25-34,None,2020-03-16,0.25,2020-01-16,11,195.774194,True,Before
2786,5f58c282446b8f00082e47ea,Male,25-34,None,2020-03-16,0.25,2020-01-16,12,287.096774,True,Before
2787,5f58c282446b8f00082e47ea,Male,25-34,None,2020-03-16,0.25,2020-01-16,13,268.483871,True,Before
2788,5f58c282446b8f00082e47ea,Male,25-34,None,2020-03-16,0.25,2020-01-16,14,223.354839,True,Before
...,...,...,...,...,...,...,...,...,...,...,...
694051,61af75effdde7a000853faad,Female,35-44,tjänsteman kommun,2020-03-16,-0.20,2021-02-16,05,10.445672,True,During
694052,61af75effdde7a000853faad,Female,35-44,tjänsteman kommun,2020-03-16,-0.20,2021-02-16,06,364.363903,True,During
694053,61af75effdde7a000853faad,Female,35-44,tjänsteman kommun,2020-03-16,-0.20,2021-02-16,07,979.696745,True,During
694054,61af75effdde7a000853faad,Female,35-44,tjänsteman kommun,2020-03-16,-0.20,2021-02-16,08,424.530925,True,During
694055,61af75effdde7a000853faad,Female,35-44,tjänsteman kommun,2020-03-16,-0.20,2021-02-16,09,465.862883,True,During

In [21]:
def getChange(users):
    new_users = users.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index().groupby(['period']).sum().unstack('period')[0]
    #users['diff'] = users.before - users.after;
    new_users['change'] = -((new_users['Before'] - new_users['During']) / new_users['Before']) * 100
    new_users['estimate'] = users['stepsEstimate'].mean() * 100
    new_users['diff'] = new_users['change'] - new_users['estimate']
    
    return new_users

def getChangeGenders(male, female):
    users = users.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index().groupby(['period']).sum().unstack('period')[0]
    #users['diff'] = users.before - users.after;
    users['change'] = -((users.before - users.after) / users.before) * 100
    return users

def getCount(users):
    users = users
    return users.groupby

def make_pretty(styler):
    styler.set_caption("Users")
    # styler.background_gradient(axis=None, vmin=1, vmax=2, cmap="YlGnBu")
    return styler

In [22]:
df.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index()

   hour  period           0
0    00  Before   15.307287
1    00  During    8.255986
2    01  Before    3.628736
3    01  During    1.478927
4    02  Before    0.444398
5    02  During    0.102151
6    03  Before    0.021505
7    03  During    0.000000
8    04  Before    0.009465
9    04  During    0.000000
10   05  Before    1.630800
11   05  During    0.113767
12   06  Before   32.710539
13   06  During   11.141269
14   07  Before  215.737651
15   07  During  108.936311
16   08  Before  316.081870
17   08  During  181.440340
18   09  Before  263.481740
19   09  During  194.334528
20   10  Before  304.593952
21   10  During  278.382665
22   11  Before  460.070416
23   11  During  435.528460
24   12  Before  553.546091
25   12  During  567.796721
26   13  Before  450.728403
27   13  During  474.738725
28   14  Before  440.693207
29   14  During  453.968400
30   15  Before  470.290594
31   15  During  458.259595
32   16  Before  523.543270
33   16  During  481.960201
34   17  Before  515.493322
35   17  During  464.528737
36   18  Before  385.654344
37   18  During  369.828480
38   19  Before  281.652402
39   19  During  268.197285
40   20  Before  206.927341
41   20  During  180.990790
42   21  Before  147.905519
43   21  During  111.995310
44   22  Before   94.109451
45   22  During   62.317758
46   23  Before   45.869864
47   23  During   26.971361

In [23]:
df.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index().groupby(['period', 'hour']).sum().unstack('period')[0]

period      Before      During
hour
00       15.307287    8.255986
01        3.628736    1.478927
02        0.444398    0.102151
03        0.021505    0.000000
04        0.009465    0.000000
05        1.630800    0.113767
06       32.710539   11.141269
07      215.737651  108.936311
08      316.081870  181.440340
09      263.481740  194.334528
10      304.593952  278.382665
11      460.070416  435.528460
12      553.546091  567.796721
13      450.728403  474.738725
14      440.693207  453.968400
15      470.290594  458.259595
16      523.543270  481.960201
17      515.493322  464.528737
18      385.654344  369.828480
19      281.652402  268.197285
20      206.927341  180.990790
21      147.905519  111.995310
22       94.109451   62.317758
23       45.869864   26.971361

In [29]:
data = df[df['period'] != 'none']
table = pd.DataFrame()
table['All'] = getChange(data)
table['Male'] = getChange(data[data['gender'] == 'Male'])
table['Female'] = getChange(data[data['gender'] == 'Female'])

age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74']
# age_ranges = []
for age_range in age_ranges:
    age_df = data[data['ageRange'] == age_range]
    table[age_range] = getChange(age_df)
    
    #table['Male ' + age_range] = getChange(age_df[age_df['gender'] == 'Male'])
    #table['Female ' + age_range] = getChange(age_df[age_df['gender'] == 'Female'])

table

KeyError: 'steps'

In [ ]:
table = table.transpose()

table['During'] = table['During'].map('{:.0f}'.format)
table['Before'] = table['Before'].map('{:.0f}'.format)
# table['diff'] = table['diff'].map('{:.0f}'.format)
table['Change'] = table['change'].map('{0:.2f}%'.format)
table['Estimate'] = table['estimate'].map('{0:.2f}%'.format)
table['Diff'] = table['diff'].map('{0:.2f}%'.format)

table.drop('change', axis=1, inplace=True)
table.drop('estimate', axis=1, inplace=True)
table.drop('diff', axis=1, inplace=True)

table

In [ ]:
users_table = users_df.groupby(['ageRange']).count()

In [ ]:
users_table = users_df.groupby(['ageRange', 'gender']).count()
users_table['count'] = users_table['id']
users_table['percent'] = 100 * users_table['count'] / users_table['count'].sum()
users_table['percent'] = users_table['percent'].map('{0:.2f}%'.format)
#users_table['Female'] = users_table[users_table['gender'] == 'Female']
#del users_table['ageRange']
del users_table['occupation']
del users_table['compareDate']
del users_table['stepsEstimate']
del users_table['id']

# users_table['Male'] = 20000

#users_table = users_table.transpose()
#users_table = users_table.transpose()
users_table.style.format(thousands=" ").pipe(make_pretty)

In [30]:
users_table = users_df.groupby(['gender']).count()
users_table['count'] = users_table['id']
users_table['percent'] = 100 * users_table['count'] / users_table['count'].sum()
users_table['percent'] = users_table['percent'].map('{0:.2f}%'.format)
del users_table['ageRange']
del users_table['occupation']
del users_table['compareDate']
del users_table['stepsEstimate']
del users_table['id']

# users_table['Male'] = 20000

#users_table = users_table.transpose()
#users_table = users_table.transpose()
users_table.style.format(thousands=" ").pipe(make_pretty)

In [31]:
users_table['count'].sum()

1534

In [32]:
data = df[df['period'] != 'none']
data=data[data['gender']=='Female']
table = pd.DataFrame()
#lookup = pd.DataFrame()
#lookup['All'] = getChange(data)
#lookup['Male'] = getChange(data[data['gender'] == 'Male'])
#lookup['Female'] = getChange(data[data['gender'] == 'Female'])

age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84']
for age_range in age_ranges:
    age_df = data[data['ageRange'] == age_range]
    table[age_range] = getChange(age_df)
    
#    table['Male ' + age_range] = getChange(age_df[age_df['gender'] == 'Male'])
#    table['Female ' + age_range] = getChange(age_df[age_df['gender'] == 'Female'])

table = table.transpose()
table['During'] = table['During'].map('{:.0f}'.format)
table['Before'] = table['Before'].map('{:.0f}'.format)
#table['diff'] = table['diff'].map('{:.0f}'.format)
table['change'] = table['change'].map('{0:.2f}%'.format)

KeyError: 'steps'

In [33]:
table

                18-24        25-34        35-44        45-54        55-64
period
Before    5421.734460  5651.038099  5692.140483  5787.569976  5238.422907
During    4545.134889  4734.072151  5225.462905  5225.603917  4664.566911
change     -16.168250   -16.226504    -8.198631    -9.709879   -10.954747
estimate   -25.927029   -20.198630   -15.201570   -14.239053   -15.615665
diff         9.758779     3.972126     7.002939     4.529174     4.660918

In [ ]:

axis = table.index.to_numpy()
data = table[['Before','During']].astype(int).to_numpy()

#fig = plt.figure(figsize=(8,16))
#ax = fig.add_subplot()

#ax.bar(axis, data[:,0], label='Before')
#ax.bar(axis, data[:,1], label='During')

#plt.title('Male')
#plt.ylabel('Steps')
#plt.xlabel('Age group')

#plt.legend()

#style_plot(fig)

#fig, ax = plt.subplots(nrows=1, ncols=2)

fig1 = table[['Before', 'During']].astype(int).plot(kind='bar', barmode='group')
#fig = table[['During']].astype(int).plot(kind='bar')
style_plot(fig1)
fig1.update_layout(yaxis=dict(title='Steps'), title='Female')
fig1.update_layout(xaxis=dict(title='Age range'))
fig1.update_layout(
    margin=dict(l=0, r=0, t=48, b=32),
)
fig1.update_layout(height=400)
fig1.update_layout(width=500)
fig1.show()

#fig.add_trace(fig1, row=1, col=1)
#fig.show()

In [ ]:
# table 2

x = users_df.groupby(['ageRange','gender'])['id'].nunique().unstack()
x = x.fillna(0).astype(int)
x['Female %'] = (x['Female'] * 100 / (x['Female'] + x['Male'])).round(2)
x['Male %'] = (x['Male'] * 100 / (x['Female'] + x['Male'])).round(2)
del x['Other']
del x['Prefer not to say']
x.index.rename('Age Group', inplace=True)
x.columns.name = None
x