In [68]:
import pandas as pd
import numpy as np
import plotly.io as pio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import ipywidgets as widgets
import matplotlib.pyplot as plt

pio.templates.default = "seaborn"
pd.options.plotting.backend = "plotly"

%matplotlib inline

In [69]:
%store -r day_df
%store -r day_users_df

In [70]:
%run global.ipynb

In [71]:
users_df = day_users_df
df = day_df

In [72]:
total_users = users_df[users_df['gender'].notnull()]['id'].count()
total_users

1534

In [73]:
def getChange(users):
    users = users.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index().groupby(['period']).sum().unstack('period')[0]
    #users['diff'] = users.before - users.after;
    users['change'] = -((users['Before'] - users['During']) / users['Before']) * 100
    return users

def getChangeGenders(male, female):
    users = users.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index().groupby(['period']).sum().unstack('period')[0]
    #users['diff'] = users.before - users.after;
    users['change'] = -((users.before - users.after) / users.before) * 100
    return users

def getCount(users):
    users = users
    return users.groupby

def make_pretty(styler):
    styler.set_caption("Users")
    # styler.background_gradient(axis=None, vmin=1, vmax=2, cmap="YlGnBu")
    return styler

In [74]:
df.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index()

   hour  period           0
0    00  Before   14.621472
1    00  During    7.916593
2    01  Before    3.331820
3    01  During    1.404895
4    02  Before    0.403431
5    02  During    0.102151
6    03  Before    0.021505
7    03  During    0.000000
8    04  Before    0.002875
9    04  During    0.000000
10   05  Before    1.616769
11   05  During    0.121364
12   06  Before   32.769603
13   06  During   10.975494
14   07  Before  211.567458
15   07  During  105.713176
16   08  Before  311.565669
17   08  During  177.784161
18   09  Before  262.356016
19   09  During  191.227935
20   10  Before  303.456531
21   10  During  275.604703
22   11  Before  456.502533
23   11  During  431.686659
24   12  Before  548.990970
25   12  During  562.433734
26   13  Before  449.337500
27   13  During  470.378500
28   14  Before  436.491043
29   14  During  449.521186
30   15  Before  466.264189
31   15  During  453.693194
32   16  Before  517.093363
33   16  During  476.388894
34   17  Before  504.383872
35   17  During  458.931227
36   18  Before  380.225506
37   18  During  364.699417
38   19  Before  276.705352
39   19  During  262.975762
40   20  Before  203.101859
41   20  During  176.396293
42   21  Before  144.616855
43   21  During  108.545550
44   22  Before   91.321711
45   22  During   60.523840
46   23  Before   44.789870
47   23  During   25.910200

In [75]:
df.groupby(['hour','series', 'period']).median().unstack('series')['steps'].mean(axis=1).reset_index().groupby(['period', 'hour']).sum().unstack('period')[0]

period      Before      During
hour
00       14.621472    7.916593
01        3.331820    1.404895
02        0.403431    0.102151
03        0.021505    0.000000
04        0.002875    0.000000
05        1.616769    0.121364
06       32.769603   10.975494
07      211.567458  105.713176
08      311.565669  177.784161
09      262.356016  191.227935
10      303.456531  275.604703
11      456.502533  431.686659
12      548.990970  562.433734
13      449.337500  470.378500
14      436.491043  449.521186
15      466.264189  453.693194
16      517.093363  476.388894
17      504.383872  458.931227
18      380.225506  364.699417
19      276.705352  262.975762
20      203.101859  176.396293
21      144.616855  108.545550
22       91.321711   60.523840
23       44.789870   25.910200

In [ ]:
data = df[df['period'] != 'none']
table = pd.DataFrame()
table['All'] = getChange(data)
table['Male'] = getChange(data[data['gender'] == 'Male'])
table['Female'] = getChange(data[data['gender'] == 'Female'])

age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84']
for age_range in age_ranges:
    age_df = data[data['ageRange'] == age_range]
    table[age_range] = getChange(age_df)
    
    table['Male ' + age_range] = getChange(age_df[age_df['gender'] == 'Male'])
    table['Female ' + age_range] = getChange(age_df[age_df['gender'] == 'Female'])

table = table.transpose()

table['During'] = table['During'].map('{:.0f}'.format)
table['Before'] = table['Before'].map('{:.0f}'.format)
#table['diff'] = table['diff'].map('{:.0f}'.format)
table['Change'] = table['change'].map('{0:.2f}%'.format)

In [ ]:
table

period       Before During     change   Change
All            5662   5073 -10.396519  -10.40%
Male           6172   5637  -8.656013   -8.66%
Female         5442   4793 -11.927578  -11.93%
18-24          5615   4657 -17.063343  -17.06%
Male 18-24     5979   4815 -19.462048  -19.46%
Female 18-24   5422   4545 -16.168250  -16.17%
25-34          6155   5190 -15.684686  -15.68%
Male 25-34     6640   5581 -15.948275  -15.95%
Female 25-34   5651   4734 -16.226504  -16.23%
35-44          6297   5882  -6.594558   -6.59%
Male 35-44     7354   6857  -6.762788   -6.76%
Female 35-44   5692   5225  -8.198631   -8.20%
45-54          6115   5668  -7.308075   -7.31%
Male 45-54     6730   6425  -4.524143   -4.52%
Female 45-54   5788   5226  -9.709879   -9.71%
55-64          5306   4855  -8.496131   -8.50%
Male 55-64     5453   5240  -3.904258   -3.90%
Female 55-64   5238   4665 -10.954747  -10.95%
65-74          5279   4903  -7.112179   -7.11%
Male 65-74     5504   4928 -10.471938  -10.47%
Female 65-74   5095   4852  -4.770273   -4.77%
75-84          4168   3576 -14.184683  -14.18%
Male 75-84     5091   3955 -22.309496  -22.31%
Female 75-84   3488   3389  -2.862439   -2.86%

In [ ]:
users_table = users_df.groupby(['ageRange']).count()

In [ ]:
users_table = users_df.groupby(['ageRange']).count()
users_table['count'] = users_table['id']
users_table['percent'] = 100 * users_table['count'] / users_table['count'].sum()
users_table['percent'] = users_table['percent'].map('{0:.2f}%'.format)
#del users_table['ageRange']
del users_table['occupation']
del users_table['compareDate']
del users_table['stepsEstimate']
del users_table['id']

# users_table['Male'] = 20000

#users_table = users_table.transpose()
#users_table = users_table.transpose()
users_table.style.format(thousands=" ").pipe(make_pretty)

In [ ]:
users_table = users_df.groupby(['gender']).count()
users_table['count'] = users_table['id']
users_table['percent'] = 100 * users_table['count'] / users_table['count'].sum()
users_table['percent'] = users_table['percent'].map('{0:.2f}%'.format)
del users_table['ageRange']
del users_table['occupation']
del users_table['compareDate']
del users_table['stepsEstimate']
del users_table['id']

# users_table['Male'] = 20000

#users_table = users_table.transpose()
#users_table = users_table.transpose()
users_table.style.format(thousands=" ").pipe(make_pretty)

In [ ]:
users_table['count'].sum()

1534

In [87]:
data = df[df['period'] != 'none']
table = pd.DataFrame()
lookup = pd.DataFrame()
lookup['All'] = getChange(data)
lookup['Male'] = getChange(data[data['gender'] == 'Male'])
lookup['Female'] = getChange(data[data['gender'] == 'Female'])

age_ranges = ['18-24', '25-34', '35-44', '45-54', '55-64', '65-74', '75-84']
for age_range in age_ranges:
    age_df = data[data['ageRange'] == age_range]
    table[age_range] = getChange(age_df)
    
    #table['Male ' + age_range] = getChange(age_df[age_df['gender'] == 'Male'])
    #table['Female ' + age_range] = getChange(age_df[age_df['gender'] == 'Female'])

table = table.transpose()
table['During'] = table['During'].map('{:.0f}'.format)
table['Before'] = table['Before'].map('{:.0f}'.format)
#table['diff'] = table['diff'].map('{:.0f}'.format)
table['change'] = table['change'].map('{0:.2f}%'.format)

In [88]:
table

period Before During   change
18-24    5615   4657  -17.06%
25-34    6155   5190  -15.68%
35-44    6297   5882   -6.59%
45-54    6115   5668   -7.31%
55-64    5306   4855   -8.50%
65-74    5279   4903   -7.11%
75-84    4168   3576  -14.18%